.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation-name: App-logo-swing;
    animation-duration: 8s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-swing {
  20% {
    transform: rotate(88deg);
  }
  30% {
    transform: rotate(-80deg);
  }
  50% {
    transform: rotate(36deg);
  }
  60% {
    transform: rotate(-24deg);
  }
  80% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
